$def with(book,isbn)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript">
        function createbook(){

        }
    </script>
</head>
<body>
<div style="width:100%">
<table border="1">
    <tr>
        <td>title</td><td>$book.title</td>
    </tr>
    <tr>
        <td>isbn</td><td>$book.isbn13</td>
    </tr>
    <tr>
        <td colspan="2">
            <form action="create" method="post">
                <input type="hidden" name="isbn" value="$isbn"/>
                <input type="submit" value="confirm">
            </form>
        </td>
    </tr>
</table>
</div>
</body>
</html> 
