$def with(booklist)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Book List</title>
</head>
<body>
<div style="width:100%">
    $if(booklist):
       total:$len(booklist) <br/>
        <table border="1">

            <thead>
                <td>id</td><td>ISBN</td><td>Title</td><td>Author</td><td>Publisher</td><td>Pubdate</td><td>Price</td><td>status</td><td>Action</td>
            </thead>
            $for book in booklist:
                <tr>
                    <td><a href="/bm/book/get/$book.id">$book.id</a> </td>
                    <td><a href="/bm/book/get/$book.id">$book.isbn13</a> </td>
                    <td>$book.title</td>
                    <td>$book.author</td>
                    <td>$book.publisher</td>
                    <td>$book.pubdate</td>
                    <td>$book.price</td>
                    <td>$book.status</td>
                    <td><a href="/bm/book/editform/$book.id">Edit</a>&nbsp;|&nbsp;<a href="/bm/book/delete/$book.id">Delete</a></td>
                </tr>
        </table>
    $else:
        Nothing.
</div>
</body>
</html>