<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Book List</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'  %}"/>
    <script type = "text/javascript" src="{% static 'jquery/jquery-1.11.3.min.js'  %}"></script>
    <script type = "text/javascript" >

        function fetch_book(){
            $.ajax({
              url: "/bc/api/book/search?k={{keyword}}&np={{npage}}",
              success: function( result ) {
                 npage = result.npage;
                 total_pages = result.total_pages;
                $("#total_counter").html("<string>"+result.total+"</strong>");
                $("#total_pages").html("<string>"+total_pages+"</strong>");

                div_list_header = $('#list_header');
                prev_html=$("<span id='prev'><a href='/book/list?k={{keyword}}&np=" + (+npage - 1) + "'>< </a>&nbsp;&nbsp;</span>");
                if(npage==1)
                    prev_html=$("<span id='prev'>< &nbsp;&nbsp;</span>");

                next_html=$("<span id='next'><a href='/book/list?k={{keyword}}&np=" +(+npage + 1)+ "'> > </a></span>");
                if (npage==total_pages)
                    next_html=$("<span id='next'> > </span>");

                div_list_header.append(prev_html);
                div_list_header.append(next_html);
                div_book_list=$("#book_list");

                books=result.itemlist;
                books.forEach(function(book){
                    div_book=$("<div style='padding:12px;border:1px;'></div>");
                    //div_book.append($("<div class='field'>BOOK_ID：<strong>" + book.id + "</strong></div>"));
                    div_book.append($("<div class='field'>书&nbsp;&nbsp;&nbsp;&nbsp;名：<strong><a href='/bk/detail/"+book.id+"'>" + book.title + "</a></strong></div>"));
                    div_book.append($("<div class='field'>作者：<strong>" + book.author + "</strong></div>"));
                    <!--div_book.append($("<div class='field'>译者：<strong>" + book.transtr + "</strong></div>"));-->
                    div_book.append($("<div class='field'>出版社：<strong>" + book.publisher + "</strong></div>"));
                    div_book.append($("<div class='field'>出版时间：<strong>" + book.pubdate + "</strong></div>"));
                    div_book.append($("<div class='field'>定&nbsp;&nbsp;&nbsp;&nbsp;价：<strong>" + book.price + "</strong></div>"));
                    <!--div_book.append($("<div class='field'><span>[<a href='/bk/edit/"+book.id+"'>Edit</a>]</span>&nbsp;&nbsp;<span>[<a href='/bk/api/rm/"+book.id+"'>Delete</a>]</span></div>"));-->
                    div_book.append($("<div class='field'><span>[<a href='/bk/api/rm/"+book.id+"'>Remove</a>]</span></div>"));
                    div_book_list.append(div_book);
                });
              },
              error: function(msg){
                console.log(msg);
              }

            });
        }

       $(document).ready(fetch_book);

    </script>


</head>
<body>
    <div>
        <div id="list_header">[<span id="total_counter"></span>]共<span id="total_pages"></span>页


        </div>
        <div id="book_list">

        </div>

    </div>
</body>
</html>