<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Book Detail</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'  %}"/>
    <script type = "text/javascript" src="{% static 'jquery/jquery-1.11.3.min.js'  %}"></script>
    <script type = "text/javascript" >
    {%if book_id%}
        function fetch_book(){
            $.ajax({
              url: "/books/api/detail/{{ book_id }}",
              success: function( result ) {
                book=result;
                $( "#id_book_id_view" ).html("<strong>" + book.id + "</strong>"  );
                $( "#id_book_id" ).val(book.id);
                $( "#id_book_title" ).val(book.title );
                $( "#id_book_subtitle" ).val(book.subtitle );
                $( "#id_book_author" ).val(book.author );
              },
              error: function(msg){
                console.log(msg);
              }

            });
        }

       $(document).ready(fetch_book);
    {%endif%}
    </script>
</head>
<body>
<div style="padding:5px">
    {% if book_id %}
        <form action="/books/api/update" method="post">
            <input type="hidden" id="id_book_id" name="book_id">
    {% else %}<form action="/books/api/create" method="post">{% endif%}
         {% csrf_token %}

        <div class="field" id="div_book_id">
            <label for="id_book_id_view">BOOK_ID：</label><span id="id_book_id_view"></span>&nbsp;&nbsp;
        </div>
        <div class="field">
            <label for="id_book_title">email：</label><input name="title" id="id_book_title" size="40" maxlength="50">&nbsp;&nbsp;
        </div>
        <!--<div class="field">-->
            <!--<label for="id_book_subtitle">显示名称：</label><input name="subtitle" id="id_book_subtitle" size="20" maxlength="50">-->
        <!--</div>-->
        <div class="field">
            <label for="id_book_author">passwd： </label><input name="author" id="id_book_author" size="20" maxlength="70">&nbsp;&nbsp;
        </div>

        <div style="padding:10px"><button type="submit">保存</button></div>
    </form>
</div>
</body>
</html>
