$def with(booklist,total,total_pages)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Book List</title>
</head>
<body>
<div style="width:100%">
    $if(booklist):
       total:$total,$total_pages <br/>
           <form action="/bm/book/list" method="GET">
            ISBN:<input type="text" size="20" name="kw"/>
            <input type="submit" value="query"/>
            </form>

        <table border="1">

            <thead>
                <!--<th>id</th>-->
                <th>ISBN</th><th>Title</th><th>Author</th><th>Publisher</th><th>Pubdate</th>
                <!--<th>Price</th>-->
                <th>status</th><th>Action</th>
            </thead>
            $for book in booklist:
                <tr>
                    <!--<td><a href="/bm/book/get?bid=$book.id">$book.id</a> </td>-->
                    <td><a href="/bm/book/get?bid=$book.id">$book.isbn13</a> </td>
                    <td nowrap="nowrap">$book.title</td>
                    <td nowrap="nowrap">$book.author</td>
                    <td nowrap="nowrap">$book.publisher</td>
                    <td nowrap="nowrap">$book.pubdate</td>
                    <!--<td>$book.price</td>-->
                    <td>$book.status</td>
                    <td><a href="/bm/book/edit?bid=$book.id">Edit</a>&nbsp;|&nbsp;<a href="/bm/book/delete?bid=$book.id">Delete</a></td>
                </tr>
        </table>
        $for i in range(total_pages):
            <a href="?np=$i">$i</a>&nbsp;

    $else:
        Nothing.
</div>
</body>
</html>